body {
	font-family: 'Liberation Sans Narrow', sans-serif;
	background-color: #8EC2DA; ;
}
#app_contain {
    height:100%;
    width:100%;
    padding:10px 0;
    background-color:#8EC2DA;
    overflow:auto;
 }
#app_contain div {
    width:100000px;
    padding:0 10px;
 }
table.tweets {
    border:5px solid #ABD1E4;
    float:left;
    display:inline;
    margin-right:10px;
 }
#header,
#footer {
	text-align: center;
}
#header h2 {
	font-style: italic;
}